*{
    margin : 0;
    padding : 0;
    
}
body{
    background: #87D37C;
    height: 600px;
    /* border: 1px solid red; */
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
   text-size : 72px;
}
#Mid-Position{
    background-color: rgb(60, 144, 152);
    position: absolute;
    padding:40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    border-radius : 25%;
}
p{
    margin-top: 20px;
}
a{
 text-decoration : none;
 color: rgb(180, 236, 7);
}


